
.footer {
  color: red;
  background: black;
}

#group-float {
  margin-bottom: 45px;
}

.kotak {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  text-align: center;
}

.kotak-1 {
  float: left;
}
.kotak-2 {
  float: right;
}

.clearfix {
  clear: both;
}

.margin {
  width: 150px;
  height: 150px;
  border: 1px solid blue;
  display: inline-block;
  /* mulai dari atas, muter searah jarum jam */
  margin: 15px 35px 75px 125px; 
}

.popup-outer {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
  top: 0;
  left: 0;
}

.popup {
  background: white;
  width: 350px;
  margin: 45px auto;
  padding: 45px;
}